doctype html
html(lang="en")
    head 
        block pageTitle
    body 
        header 
            h1 LAYOUTING IN PUG

        block startContent 

        h3 SECTION 
        
        footer
            h3 Copyright